section#about.content-section.text-center
    div.about-section
        div.container
            div.col-lg-8.col-lg-offset-2
                h2 about me
                p I am an accomplished and creative developer with experience in iOS development,
                    | full-stack website development, and API production. I am passionate about design
                    | and have completed numerous artistic tasks, including wireframes and UX design.
                    | Furthermore, I incorporate high UI/UX standards in all of my development projects. And vice versa.