section#contact.content-section.text-center
    div.contact-section
        div.container
            div.col-lg-8.col-lg-offset-2
                h2 say hello
                p i am always looking to collaborate with individuals and small teams. please contact me if you are interested
                    | in working on a project or would just like to say hello!
                p
                    a.email(href='mailto:elenaeboyd@gmail.com') elenaeboyd@gmail.com
                ul.list-inline.banner-social-buttons
                    li
                        a.btn.btn-default.btn-lg(href='https://twitter.com/SBootstrap')
                            i.fa.fa-twitter.fa-fw
                            span.network-name twitter
                    li
                        a.btn.btn-default.btn-lg(href='https://github.com/eboebo')
                            i.fa.fa-github.fa-fw
                            span.network-name github