header.intro
    div.intro-body
        div.container
            div.row
                div.col-md-8.col-md-offset-2
                    h1.brand-heading  elena boyd
                    p.intro-text experienced developer and design enthusiast
                    a.btn.btn-circle.page-scroll(href="#about")
                        i.fa.fa-angle-double-down.animated