header.intro
    div.intro-body
        div.container
            div.row
                div.col-md-8.col-md-offset-2
                    img.img-responsive(src="images/logo.png")
                    //- a.btn.btn-circle.page-scroll(href="#about")
                    //-     i.fa.fa-angle-double-down.animated