
html
  head
    title= title
    script(src='grayscale/js/jquery.js')
    script(src='grayscale/js/bootstrap.min.js')
    script(src='grayscale/js/jquery.easing.min.js')
    script(src='grayscale/js/grayscale.js')

    link(rel='stylesheet', href='grayscale/css/bootstrap.min.css')
    link(rel='stylesheet', href='grayscale/css/grayscale.css')
    link(rel='stylesheet', href='grayscale/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')

    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body#page-top&attributes({'data-spy':'scroll','data-target':'.navbar-fixed-top'})
    block content
