section#work.text-center
    div.download-section
        //- div.row
        //-     div.col-lg-8.col-lg-offset-2
        //-         h2 my work
        div.row
            div.col-md-4.no-padding-eb
                    a(href="#")
                        img.img-responsive(src="http://i.kinja-img.com/gawker-media/image/upload/s--PKreMmT3--/1067016301928240232.jpg")
            div.col-md-4.no-padding-eb
                    a(href="#")
                        img.img-responsive(src="http://i.kinja-img.com/gawker-media/image/upload/s--PKreMmT3--/1067016301928240232.jpg")
            div.col-md-4.no-padding-eb
                    a(href="#")
                        img.img-responsive(src="http://i.kinja-img.com/gawker-media/image/upload/s--PKreMmT3--/1067016301928240232.jpg")
        div.row
            div.col-md-4.no-padding-eb
                    a(href="#")
                        img.img-responsive(src="http://i.kinja-img.com/gawker-media/image/upload/s--PKreMmT3--/1067016301928240232.jpg")
            div.col-md-4.no-padding-eb
                    a(href="#")
                        img.img-responsive(src="http://i.kinja-img.com/gawker-media/image/upload/s--PKreMmT3--/1067016301928240232.jpg")
            div.col-md-4.no-padding-eb
                    a(href="#")
                        img.img-responsive(src="http://i.kinja-img.com/gawker-media/image/upload/s--PKreMmT3--/1067016301928240232.jpg")
