section#work.text-center
    div.work-section
        div.row
            div.col-md-4.no-padding
                div.overlay
                    div.work-text
                        p.work-title work 4
                        p This is a description about work 6
                a(href="#")
                    img.img-responsive(src="http://www.mojaveinc.com/wp-content/uploads/2013/07/ios_app_ux.jpg")
            div.col-md-4.no-padding
                div.overlay
                    div.work-text
                        p.work-title work 4
                        p This is a description about work 6
                a(href="#")
                    img.img-responsive(src="http://www.mojaveinc.com/wp-content/uploads/2013/07/ios_app_ux.jpg")
            div.col-md-4.no-padding
                div.overlay
                    div.work-text
                        p.work-title work 4
                        p This is a description about work 6
                a(href="#")
                    img.img-responsive(src="http://www.mojaveinc.com/wp-content/uploads/2013/07/ios_app_ux.jpg")
        div.row
            include work-carousel
        div.row
            div.col-md-4.no-padding
                div.overlay
                    div.work-text
                        p.work-title work 4
                        p This is a description about work 6
                a(href="#")
                    img.img-responsive(src="http://www.mojaveinc.com/wp-content/uploads/2013/07/ios_app_ux.jpg")
            div.col-md-4.no-padding
                div.overlay
                    div.work-text
                        p.work-title work 4
                        p This is a description about work 6
                a(href="#")
                    img.img-responsive(src="http://www.mojaveinc.com/wp-content/uploads/2013/07/ios_app_ux.jpg")
            div.col-md-4.no-padding
                div.overlay
                    div.work-text
                        p.work-title work 4
                        p This is a description about work 6
                a(href="#")
                    img.img-responsive(src="http://www.mojaveinc.com/wp-content/uploads/2013/07/ios_app_ux.jpg")
