section#work.text-center
    div.work-section
        div.row
            div.col-md-4.no-padding
                a(href="https://itunes.apple.com/us/app/favor-delivery/id502658998?mt=8", target="_blank")
                    div.overlay
                        div.work-text
                            p.work-title Favor Delivery
                img.work-image.img-responsive(src="images/FavorDark.png")
            div.col-md-4.no-padding
                a(href="https://itunes.apple.com/us/app/whole-foods-market/id320029256?mt=8", target="_blank")
                    div.overlay
                        div.work-text
                            p.work-title Whole Foods Market
                img.work-image.img-responsive(src="images/WFMShot.png")
            div.col-md-4.no-padding
                a(href="https://itunes.apple.com/us/app/guitar-note-atlas/id971847390?mt=8", target="_blank")
                    div.overlay
                        div.work-text
                            p.work-title Guitar Note Atlas
                img.work-image.img-responsive(src="images/GuitarLight.png")
        //- div.row
        //-     div.col-md-6.no-padding
        //-         a(href="work")
        //-             div.overlay
        //-                 div.work-text
        //-                     img.work-image.img-responsive(src="images/swimtopia.png")
        //-                     p Design + Titanium Development
        //-         img.work-image.img-responsive(src="images/stockApp.png")
        //-     div.col-md-6.no-padding
        //-         a(href="work")
        //-             div.overlay
        //-                 div.work-text
        //-                     p.work-title Moonshine Interactive
        //-                     p Design + Web Development
        //-         img.work-image.img-responsive(src="images/stockApp.png")


