@import url('http://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'good-foot';
  src: url('../fonts/goodfoot.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ostrich';
  src: url('../fonts/OstrichSans-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ostrich-light';
  src: url('../fonts/OstrichSans-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ostrich-medium';
  src: url('../fonts/OstrichSans-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'moderne';
  src: url('../fonts/ModerneSans.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'axis';
  src: url('../fonts/axis.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dense';
  src: url('../fonts/Dense-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
